CatchCLip.csv
Halibut_Catch_Covariates_Scaled_Al11.csv
all_raw_halibut_catchAl14.rds
all_raw_halibut_catch_formattedAl14.rds
all_raw_halibut_catch_with_covariates_Al14.csv
all_raw_halibut_catch_with_stAl4.csv
all_raw_halibut_catch_with_st_BtAl14.csv
Archive
